#macro( getUIComponentLoadOutput )
#foreach( $association in $classObject.getOtherSingleAssociations() )                
                // apply the ${association.getRoleName()} to the performParameters
                performParameters.bo = transferObject.get${association.getRoleName()}();
                
			    // delegate to the $association.getType()Action			
			    performParameters = ${association.getType()}Action.applyDataToForm( performParameters );
			
			    // apply the value object of the performParameters to the transfer object
			    transferObject.set${association.getRoleName()}( (${association.getType()})performParameters.bo );
#end			    
#end							                                                                   
