#macro ( getKeyFieldDeclarationsForDotNet )
#set( $attributes = $classObject.getPrimaryKeyAttributes() )
#foreach( $attribute in $attributes )	
	public $Utils.mapTypeToDotNetType(${attribute.getType()}) $attribute.getName() { get; set; }
#end## $attribute in $attributes 
#end
