#macro( getBusinessDelegateInterfaceDecl ) 
public interface I${classObject.getName()}BusinessDelegate 
extends IBaseBusinessDelegate, #getBusinessDelegateInterfaceParentName()
{
#end


#macro ( getBusinessDelegateInterfaceParentName )
#if( $classObject.getInterfaces().size() > 0 )
#set( $noPrefix = "" )
#set( $noSuffix = "" )
#set( $interfaces = "${classObject.getInterfacesAsString( $noPrefix, $noSuffix )}" )
IFrameworkBusinessDelegate, $interfaces
#else ## $classObject.getInterfaces().size() == 0
IFrameworkBusinessDelegate
#end## $classObject.getInterfaces().size() > 0
#end
