<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>
        	
		<property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>   		
        <!-- properties -->      
<!-- AIB : \#hibernateMappingParameters() -->        
#hibernateMappingParameters()
<!-- ~AIB -->          
   		<property name="hibernate.current_session_context_class">thread</property> 
   
<!-- mapping files -->
<!-- AIB : \#mappingResources() -->        
#mappingResources()
<!-- ~AIB -->
        
    </session-factory>

</hibernate-configuration>